<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("seri")%>
</head>
<body>
    <form action="add" method="post">
        <input type="text" name="name" placeholder="İsim" required>
        <input type="text" name="sname" placeholder="Soy İsim" required>
        <input type="submit" value="Kaydet">
    </form>
</body>
</html>